body {
    background:#dce5f5;    
}
.container {
    width: 100vw;
    height: 100vh;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cartao
{
    display: inline-block;
    text-align: center;  
    font-family: 'Outfit', sans-serif; 
    background: white;
    padding: 10px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    width: 275px;
    height: 450px;
    box-shadow: 10px 10px 15px #cfdcf3 ;
}

#qrcode {
    width: 275px;
    border-radius: 15px;
}

#chamada {
    font-size: 20px;
    color: #010144;
    text-align: center;
    font-weight: bold;
    opacity: 0.85;
}

#regular {
    font-size: 16px;
    color: #a19a9a;
    text-align: center; 
    opacity: 0.7;
    
}

p {
    text-align: center;
}

strong {
    color: #00008b ;
}
